awscli
backports.entry-points-selectable
boto3
boto3-stubs
botocore
botocore-stubs
cffi
colorama
distlib
docutils
enum34
ffmpeg
filelock
jmespath
mock
mypy-boto3-lexv2-models
mypy-boto3-lexv2-runtime
nose
numpy
pbr
platformdirs
pvrecorder
pyasn1
pycparser
pydub
pygame
python-dateutil
PyYAML
rsa
s3transfer
scipy
simpleaudio
six
sounddevice
urllib3
virtualenv
